absl-py==2.1.0
aiohttp==3.9.3
aiosignal==1.3.1
altgraph==0.17.4
annotated-types==0.6.0
anyio==4.3.0
api-display-purposes==0.0.3
async-timeout==4.0.3
attrs==23.2.0
beautifulsoup4==4.12.3
bella==2.1.6
blinker==1.7.0
Brotli==1.1.0
certifi==2024.2.2
cffi==1.16.0
chardet==3.0.4
charset-normalizer==3.3.2
chromedriver-binary==123.0.6312.10.0
clarifai==10.1.0
clarifai-grpc==10.0.10
click==8.1.7
colorama==0.4.6
configparser==3.8.1
contextlib2==21.6.0
contourpy==1.2.0
cycler==0.12.1
dataclasses-json==0.5.14
decorator==4.4.2
Deprecated==1.2.14
dirtyjson==1.0.8
distro==1.9.0
dm-tree==0.1.8
downloader-cli==0.3.4
EasyProcess==1.1
emoji==2.10.1
enum34==1.1.10
ffmpeg-python==0.2.0
fire==0.3.1
Flask==3.0.2
fonttools==4.49.0
frozenlist==1.4.1
fsspec==2024.2.0
future==1.0.0
googleapis-common-protos==1.62.0
greenlet==3.0.3
grpcio==1.62.0
gTTS==2.5.1
h11==0.14.0
h5py==3.10.0
httpcore==1.0.4
httpx==0.26.0
huepy==1.2.1
idna==2.10
imageio==2.34.0
imageio-ffmpeg==0.4.9
iniconfig==2.0.0
inquirerpy==0.3.4
instabot==0.117.0
instaloader==4.10.3
instapy==0.6.16
isodate==0.6.1
itsdangerous==2.1.2
itunespy==1.6.0
Jinja2==3.1.3
joblib==1.3.2
jsonschema==2.6.0
keras==3.0.5
kiwisolver==1.4.5
llama-index-core==0.10.12
llamaindex-py-client==0.1.13
m3u8==4.0.0
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.20.2
matplotlib==3.8.3
mdurl==0.1.2
MeaningCloud-python==2.0.0
ml-dtypes==0.3.2
mock==5.1.0
MouseInfo==0.1.3
moviepy==1.0.3
msedge-selenium-tools==3.141.4
multidict==6.0.5
musicbrainzngs==0.7.1
mutagen==1.47.0
mypy-extensions==1.0.0
namex==0.0.7
nest-asyncio==1.6.0
networkx==3.2.1
nltk==3.8.1
numpy==1.26.4
oauthlib==3.2.2
openai==1.12.0
opencv-python==4.9.0.80
opencv-python-headless==4.9.0.80
outcome==1.3.0.post0
packaging==23.2
Panda3D==1.10.14
panda3d-gltf==1.1.0
panda3d-simplepbr==0.11.2
pandas==2.2.0
pefile==2023.2.7
pfzy==0.3.4
pillow==10.2.0
pilmoji==2.0.2
pluggy==1.4.0
plyer==2.1.0
proglog==0.1.10
prompt-toolkit==3.0.43
protobuf==3.20.3
psutil==5.9.8
pyaes==1.6.1
PyAutoGUI==0.9.54
pycountry==23.12.11
pycparser==2.21
pycryptodomex==3.20.0
pydantic==2.6.1
pydantic_core==2.16.2
pyDes==2.0.1
pydotmap==0.1.3
pygame==2.5.2
PyGetWindow==0.0.9
Pygments==2.17.2
pyinstaller==6.4.0
pyinstaller-hooks-contrib==2024.2
PyMsgBox==1.0.9
pyngrok==7.1.3
pyparsing==3.1.1
pypdf==4.0.2
PyPDF2==3.0.1
pyperclip==1.8.2
PyRect==0.2.0
Pyrogram==2.0.106
PyScreeze==0.1.30
PySocks==1.7.1
pytest==8.0.1
python-dateutil==2.8.2
python-dotenv==1.0.1
python-rapidjson==1.14
python-telegram-bot==20.8
python-youtube==0.6.4
pytube==15.0.0
pytube3==9.6.4
pytweening==1.2.0
pytz==2024.1
pywhatkit==5.4
pywin32-ctypes==0.2.2
pyxdg==0.28
PyYAML==6.0.1
redis==5.0.2
regex==2023.12.25
requests==2.31.0
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
responses==0.25.0
rich==13.7.0
scapy==2.5.0
schedule==1.2.1
schema==0.7.5
scipy==1.12.0
screeninfo==0.8.1
selenium==4.18.1
semantic-version==2.10.0
setuptools==69.1.0
setuptools-rust==1.8.1
simber==0.2.6
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.5
spotipy==2.23.0
SQLAlchemy==2.0.27
tenacity==8.2.3
termcolor==2.4.0
TgCrypto==1.2.5
tiktoken==0.6.0
tqdm==4.66.2
trio==0.24.0
trio-websocket==0.11.1
tritonclient==2.42.0
typing-inspect==0.9.0
typing_extensions==4.9.0
tzdata==2024.1
ujson==5.9.0
Unidecode==1.3.8
urllib3==2.2.1
ursina==6.1.2
wcwidth==0.2.13
webdriver-manager==4.0.1
webdriverdownloader==1.1.0.4
websockets==12.0
Werkzeug==3.0.1
wheel==0.42.0
wikipedia==1.4.0
wrapt==1.16.0
wsproto==1.2.0
yarl==1.9.4
youtube-dl==2021.12.17
youtube-search-python==1.6.6
yt-dlp==2023.12.30
ytdl==1.0.0rc5
ytmdl==2023.11.26
ytmusicapi==1.5.4
